.card{ 
  display: flex;
  height: 80px;
  width: 23.5%;
  background: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  padding: 20px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  font-size: 1.2vw;
}

.medium{
  height: 220px;
  width: 25%;
}

.large{ 
  height: 220px;
  width: 35.5%;
}

.xlarge{ 
  height: 220px;
  width: 49%;
}