.main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh; 
  width: 100%;
  overflow-y: scroll;
  padding: 80px 20px 0 20px;
}

.row{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  height: auto; 
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}