@import "tailwindcss";

html,
body {
  font-family: var(--font-poppins);
  max-width: 100vw;
  background: #F1F1F1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-container{
  height: 100vh;
  width: 100%;
}

.expanded{
 left: 0;
}

.sidebar-container{
  position: fixed;
  top:0;
  left: 0;
  background: #11101D;
  color: #FFFFFF;
  width: 260px; 
  height: 100vh;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar-container.closed{
  width: 78px;
}

.main-container{
  position: relative;
  left: 260px;
  height: 100vh;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  background: #F2F2F2;
}

.main-container.closed{
  left: 80px;
  width: calc(100% - 80px);
}
