.sidebar{
  height: 100vh; 
  width: 100%; 
  overflow: auto;
}

.sidebar.close{
  overflow: visible;
}

.logo_details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
}

.logo{
  font-size: 36px;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 60px;
}

.logo_name{
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 90px;
  transition: 0.3s ease;
  transition-delay: 0.3s;
  opacity: 1;
  overflow: auto;
  /* display: block; */
}

.sidebar.close .logo_name{
  /* display: none; */
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.nav_links{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 91%;
  overflow: auto;
}

.nav_links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.nav_links li:hover{
  background: #1D1B31;
}

.nav_links li .link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.link_icon{
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #FFFFFF;
  margin-right: 0;
}

.link_name{
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 30px;
}

.sidebar.close .sub_link_name{
  font-size: 16px;
  opacity: 1;
  color: grey;
  display: block;
}

.icon_link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 40px;
}

.sidebar.close .icon_link{
  display: block;
  padding-right: 0;
}

.sub_menu{
  padding: 6px 6px 14px 84px;
  margin-top: -10px;
  background: #1D1B31;
  display: none;
}

.sidebar.close .sub_menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0s;
}

.sidebar.close .nav_links li:hover .sub_menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sub_link{
  color: grey;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  padding: 5px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sub_link:hover{
  color: #FFFFFF;
}

.sidebar.close .sub_link_name:hover{
  color: #FFFFFF;
}

.sidebar .sub_menu.blank{
  opacity: 0;
  pointer-events: none;
  padding: 3px 20px 6px 16px;
}

.nav_links li:hover .sub_menu.blank{
 
}

.sidebar .sub_menu.show_menu{
  display: block;
}

.arrow:hover{
  cursor: pointer;
}

.sidebar.close .nav_links .arrow{
  display: none;
}

.sidebar .nav_links{
  overflow: visible;
}

.sidebar.close .nav_links .link_name{
  opacity: 0;
  pointer-events: none;
  display: none;
}




